<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/home">LDXPS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/vendedor" routerLinkActive="active">Cadastro Vendedor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cliente" routerLinkActive="active">Cadastro Cliente</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>